@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@font-face {
    font-family:Fantasía ;
    src: url(./riesling.ttf);
}
:root{
    --colornav:rgb(1, 1, 32);
    --fuentelista: 'Raleway', sans-serif ;
    --colorcard: rgba(245, 245, 220, 0.323);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.hero{
    width: 100%;
    height: 900px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(./assets/Fondo2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat ;
    background-size: cover;
    background-position-y: center;
}

h1{
    font-family: Fantasía;
    font-size: 195px;
    margin: 0 auto;
    color: white;
}
h1:hover{
    font-size: 250px;
}


.menunav li{
    display:inline-block;
    align-items: center;
    padding: 7px 15px;
    
}
.menu{
    display: flex;
    align-items: center;
    
    width: 100%;
    padding: 5px 15px;
    height: 75px ;
    background-color: var(--colornav);
    font-family: sans-serif;
}
a{
    color:white;
    text-decoration: none;
}
.cafetería{
    width: 100%;
    height: 1200px;
    background-image: url(./assets/FondoDef.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;

   
}
.precios{
    margin-top: 30px;
    width: 1250px;
    height: 350px;
    background-color: var(--colorcard);
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.cafetería{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

}
.lista{
    list-style: none;
    font-family: var(--fuentelista);
    font-weight: bolder;
    font-size: 25px;
    color: white;
    
}
h2{
    font-family: var(--fuentelista);
    font-weight: bolder;
}

a:hover {
    font-size: 30px;
 }

img{
    height: 300px;
}

